<html>
  <head>
  	<title>Django Girls blog</title>
  </head>
  <body>
  	<div>
  		<h1><a href="">Django Girls Blog></a></h1>
  	</div>
  	<div>
  	<p>published: 14.06.2017, 19:13</p>
  	<h2><a href="">my first post</a></h2>
  	<p>Aenean	eu	leo	quam.	Pellentesque	ornare	sem	lacinia	quam	venenatis	vestibulum.	Donec	id	elit	non	mi	po
rta	gravida	at	eget	metus.	Fusce	dapibus,	tellus	ac	cursus	commodo,	tortor	mauris	condimentum	nibh,	ut	fermentum	mass
a	justo	sit	amet	risus.</p>
  	
  	</div>
  	<div>
  		<p>published:15.09.2017, 20:54</p>
  		<h2><a href="">my second post</a></h2>
  		<p>Days an't easy eating became hard for me but all i know is that I have got to finish this there is no room for giving up no matter what, I will make it.</p>
  	</div>

  </body>
</html>